@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@300;700&family=Source+Sans+3:wght@400;600&display=swap') ;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(244, 245, 225, 0.659);
}

::-webkit-scrollbar {
  height: 15px;
}

::-webkit-scrollbar-track {
  background-color: rgb(214, 210, 210);
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
  background-color: #ff4140;
  border-radius: 1rem;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.pages-background {
  background-image: url('./images/pattern-5.jpeg');
  min-height: 100vh;
}

.header {
  background-color: #ff4141;
  border-radius: 0 0 15px 15px;
  color: white;
  font-family: Arima Madurai , sans-serif;
  font-size: 1rem;
  font-weight: 700;
  height: 3em;
  padding: 0 1.5rem;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 99;
}

footer {
  background-color: #ff4141;
  border-radius: 15px 15px 0 0;
  bottom: 0;
  height: 2.6rem;
  padding: 0.3rem 1rem;
  position: fixed;
  width: 100%;
  z-index: 99;
}

@media screen and ( min-width : 768px ) {

  .header {
    padding: 0 3rem;
  }
}

@media screen and ( min-width : 1024px ) {

  .header {
    width: 1024px;
  }

  .container {
    margin: 0 auto;
    width: 1024px;
  }

  footer {
    width: 1024px;
  }
}


.header img, .header input {
  width: 22px;
}


/* ----- Pagina de login -------- */

/*
https://files.wallpaperpass.com/2019/10/food%20wallpaper%20011%20-%201920x1080.jpg
https://files.wallpaperpass.com/2019/10/food%20wallpaper%20131%20-%201920x1080.jpg
*/

.appReceitas {
  align-items: center;
  background-attachment: fixed;
  background-image: url('https://files.wallpaperpass.com/2019/10/food%20wallpaper%20131%20-%201920x1080.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  padding: 1rem;
}

.login-form {
  background-color: rgba(194, 194, 194, 0.59);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-self: center;
  padding: 2rem 1.5rem;

}

.login-form h1, .login-form p {
  text-align: center;

}

.login-form h1 {
  color: rgb(242, 91, 21);
  font-size: 2.5rem;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.65);
}

.login-form p {
  color: rgb(73, 73, 73);
  font-family: Montserrat , sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 2rem;

}

.login-form input {
  border: 1px solid #f77f3f;
  border-radius: 0.5rem;
  font-size: 1rem;
  height: 2.9rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  outline: none;
  padding: 1rem;
  width: 100%;
}

.login-form label {
  font-family: Montserrat , sans-serif;
  font-size: 1.4rem;
}

.login-form button {
  border: none;
  border-radius: 0.5rem;
  color: white;
  font-size: 1.2rem;
  margin-top: 1.2rem;
  padding: 1rem 2rem;
}

.login-form button:enabled {
  background-color: rgba(255, 28, 3, 0.638);
  cursor: pointer;
}

.login-form button:disabled {
  background-color: rgba(252, 75, 75, 0.522);
}

.login-form button:hover:enabled {
  background-color: rgba(46, 30, 146, 0.522);
}

/* ----- Header Search ------ */

/* Fixas o Header! */
.headerSearch {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.searchForm {
  background-color: #0000;
  display: fixed;
  margin: 1rem;
}

.searchForm-container {
  background-color: #0000;
}

.search-input {
  border: 3px solid black;
  border-radius: 0.7rem;
  height: 3rem;
  outline: none;
  padding: 0.9rem 1rem;
  width: 100%;
}

.search-input:focus {
  border: 3px solid #ff4141;
}

/* Position inputs properly */
.search-types-container {
  margin: 1rem;
}

.search-type-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.searchForm-container label {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  margin-top: 0.2rem;
}

.searchForm-container input {
  cursor: pointer;
}

.search-forom-button {
  background-color: #30abe4;
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  width: 100%;
}

.search-forom-button:hover {
  background-color: #ff4141;
}

.search-radio:after {
  background-color: #aaacaa;
  border: 2px solid white;
  border-radius: 15px;
  content: '';
  display: inline-block;
  height: 15px;
  left: -1px;
  position: relative;
  top: -2px;
  visibility: visible;
  width: 15px;
}

.search-radio:checked:after {
  background-color: #ff4141;
  border: 2px solid white;
  border-radius: 15px;
  content: '';
  display: inline-block;
  height: 15px;
  left: -1px;
  position: relative;
  top: -2px;
  visibility: visible;
  width: 15px;
}

@media screen and ( min-width : 500px ) {

  .searchForm-container {
    padding: 1rem 0;
  }

  .search-types-container {
    display: flex;
  }

  .searchForm-container button {
    margin: 0 auto;
    width: 480px;

  }

  .search-form-button-container {
    display: flex;
    justify-content: center;
  }

}

@media screen and ( min-width : 768px ) {

  .searchForm {
    margin: 0 3rem;
  }
}

/* ----- Foods And Drinks cards section */
.foodsAndDrinks-container {
  margin: 0 0.5rem;
  min-height: 60vh;
  padding: 1rem 0;
}

.cards {
  align-items: center;
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  justify-items: center;
  margin-bottom: 2.8rem;
}

.card {
  border-radius: 1rem;
  box-shadow: 7px 7px 6px 0 rgba(0, 0, 0, 0.47);
  color: white;
  margin: 0.4rem;
  max-width: 200px;
  text-align: center;
  text-decoration: none;
}

.card:hover {
  color: black;
}

.card h2 {
  max-height: 57px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cardTitle-container {
  align-items: center;
  background-color: #f8742c;
  border-radius: 0 0 1rem 1rem;
  display: flex;
  height: 100%;
  justify-content: center;
  padding: 0.3rem;
}

.card-image-container {
  border-radius: 1rem 1rem 0 0;
  overflow: hidden;
}

.card img {
  border-radius: 1rem 1rem 0 0;
  height: 100%;
  transition: transform 0.5s ease;
  width: 100%;
}

.card:hover img {
  transform: scale(1.1);
}

.foodsAndDrinks-category-container {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  margin: 0 auto;
  padding: 0 0.5rem;
}

.foodCategoryBtn {
  background-color: #f8742c;

  /* border:  1px solid #fa6d21; */
  border: none;
  border-radius: 1rem;
  color: white;
  cursor: pointer;
  font-size: 1.1rem;
  margin: 5px;
  max-width: 8rem;
  padding: 0.7rem;
  width: 100%;
}

.foodCategoryBtn:hover {
  background-color: #c26532;
  color: white;
}

@media screen and ( min-width : 525px ) {

  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and ( min-width : 780px ) {

  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and ( min-width : 790px ) {

  .foodsAndDrinks-category-container {
    margin-top: 0.5rem;
    width: 75%;
  }

  .foodsAndDrinks-container {
    margin: 0 3rem;

  }

  .card {
    background-color: rgba(253, 253, 253, 0.624);
    border-radius: 1rem;
    margin: 0.5rem;
  }
}


/* ---- Foooter ----- */
.footer-container {
  align-items: center;
  display: flex;
  justify-content: space-between;

}

.footerIcon {
  width: 30px;
}

@media screen and ( min-width : 400px ) {

  .footer-container {
    justify-content: space-around;
  }
}


/* --- Detalhes de comida de bebida ----- */
.headerheader {
  align-items: center;
  display: flex;
  justify-content: center;
}

.food-details-container {
  padding-bottom: 5rem;
  padding-top: 2rem;
}

.food-details {
  align-items: center;
  background-color: rgba(253, 253, 253, 0.624);
  border-radius: 1rem;
  box-shadow: 0 0 19px 9px rgba(0, 0, 0, 0.31);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 900px;
  padding: 1rem;
}

.recipe-info h1 {
  font-size: 1.4rem;
}

.recipe {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.recipe h1 {
  font-family: 'Source Sans 3' , sans-serif;
  font-size: 2rem;
  font-weight: 600;
  margin: 1rem 0;
  text-align: center;
}

.recipe-photo {
  margin: 0 auto;
  max-width: 460px;
  width: 100%;
}

.foodButtons-n-foodType {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.foodButtons-n-foodType p {
  color: #ff4140;
  font-size: 1.7rem;
}

.foodButtons {
  align-items: center;
  display: flex;
}

.foodButton {
  align-items: center;
  background-color: #ff4141;
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  display: flex;
  height: 50px;
  margin-left: 0.2rem;
  padding: 0.4rem;
  transition: all 0.2s ease-in-out;

}

.foodButton:hover {
  transform: scale(1.1);
}

.foodButton + .foodButton {
  margin-left: 0.3rem;
}

.white-heart, .black-heart, .share-icon {
  width: 25px;
}

.ingredients {
  font-size: 1.2rem;
  font-weight: 600;
  list-style-type: none;
  margin: 0 auto;
  padding: 1rem 0;
  text-align: center;
  width: 80%;
}

.ingredients li {
  margin: 0.5rem;
}


.instructions {
  font-size: 1.1rem;
  padding: 2rem 0;
  width: 80%;
}

.start-recipe-btn, .continue-recipe-btn {
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 1rem 2rem;
}

.start-recipe-btn {
  background-color: rgba(43, 192, 43, 0.864);
}

.start-recipe-btn:hover {
  background-color: rgba(37, 160, 37, 0.864);

}

.continue-recipe-btn {
  background-color: #ff8340;
}

.continue-recipe-btn:hover {
  background-color: #ce6a34;
}

.recipe-video {
  height: 300px;
  max-width: 500px;
  width: 100%;

}

/* ----- Fodd progress page ---- */
.finish-recipe-btn {
  border: none;
  border-radius: 3px;
  cursor: pointer;
  padding: 1rem 2rem;
}

.finish-recipe-btn:enabled {
  background-color: #ff4141;
  color: white;
}

.ingredient-steps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 1rem 0;
  text-align: center;
  width: 80%;
}

.ingredient-step + .ingredient-step {
  margin-top: 0.5rem;
}

.ingredient-step input {
  margin-right: 0.4rem;
}

.ingredient-step label {
  cursor: pointer;
}

.rec-cards-container {
  display: flex;
  margin-top: 1rem;
  overflow-x: scroll;
  width: 320px;
}

.recomendation-img {
  width: 250px;
}

.rec-cards-container h1 {
  text-align: center;
}

@media screen and ( min-width : 500px ) {

  .rec-cards-container {
    width: 450px;
  }

  .recomendation-img {
    width: 350px;
  }

}

@media screen and ( min-width : 700px ) {

  .rec-cards-container {
    width: 550px;
  }

  .recomendation-img {
    width: 400px;
  }

}


/* ----- Receitas feitas ----- */
.header-done {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.profileIcon {
  width: 25px;
}

.recipesDone-container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem 0;

}

.recipeDone {
  margin-top: 0;
  max-width: 500px;
  padding: 0 1rem;
  width: 100%;
}

.recipeDone-card {
  align-items: center;
  background-color: rgb(243, 243, 243);
  border-radius: 1rem;
  box-shadow: 7px 7px 6px 0 rgba(0, 0, 0, 0.47);
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 0.5rem 0;
  width: 100%;
}

.share-icon:hover, .favorite-button:hover {
  transform: scale(1.2);
}

.recipe-info {
  padding-left: 2rem;
  padding-right: 1.4rem;
  width: 100%;
}

.recipe-info-button {
  margin-left: 0.3rem;
}

.recipeDone-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.recipeDone-button {
  background-color: #30abe4;
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  font-size: 1.1rem;
  padding: 1rem 0.5rem;
  width: 80px;
}

.recipeDone-button:hover {
  background-color: #dd9a34;
}

.recipeDone-button + .recipeDone-button {
  margin-left: 0.3rem;
}

.recipeDone-date-share-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.recipeDone-tagButton {
  background-color: #ff4141;
  border: none;
  border-radius: 0.5rem;
  color: white;
  cursor: pointer;
  margin: 0.2rem;
  padding: 0.2rem;
}

.recipeDone-tagButton:hover {
  transform: scale(1.1);
}

.recipeDone-cardImg-container {
  border-radius: 1rem;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  width: 100%;
}

.recipeDoneCard-img {
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 1rem;
  transition: transform 0.5s ease;
  width: 100%;
}

.recipeDoneCard-img:hover {
  transform: scale(1.1);
}

.recipeIsDone-content {
  margin: 0 auto;
  max-width: 500px;
  padding: 0 0.3rem;
  text-align: center;
}

.recipeIsDone-content h1 {
  font-size: 2rem;
}

.recipeIsDone-button {
  background-color: #f77f3f;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
  margin-top: 1rem;
  padding: 0.8rem 1.5rem;
}

.recipeIsDone-button:hover {
  background-color: #c56734;
}

/* ---- Profile page ---- */
.profile-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.profile-content h3 {
  font-family: Montserrat , sans-serif;
  font-size: 1.1rem;
  margin-bottom: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 320px;
}

.profileBtn {
  background-color: #f77f3f;
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 2rem 0;
  width: 100%;
}

.profileImg {
  margin-bottom: 1rem;
  width: 150px;
}

.profileBtn + .profileBtn {
  margin-top: 0.5rem;
}

.profileBtn:hover {
  background-color: #ce6b36;
}

@media screen and ( min-width : 400px ) {

  .profile-content h3 {
    text-overflow: initial;
    width: auto;
  }
}

/* ----- Explore foods drinks and food ----- */
.explore-food-cards-container {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  padding: 1rem;
}

.explore-food-card {
  background-color: #f77f3fc4;
  border-radius: 1rem;
  box-shadow: 7px 7px 6px 0 rgba(0, 0, 0, 0.47);
  color: black;
  padding: 0.3rem 0;
  text-align: center;
  text-decoration: none;
  width: 180px;
}

.explore-food-card:hover {
  transform: scale(1.1);
}


.explore-food-card-container {
  background-color: rgba(233, 232, 232, 0.645);
  border-radius: 3px;
  margin: 0.4rem;
  padding: 0.5rem;
}


@media screen and ( min-width : 610px ) {

  .explore-food-cards-container {
    grid-template-columns: 1fr 1fr 1fr;
  }

}

@media screen and ( min-width : 1024px ) {

  .explore-food-cards-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/* ---- Explore area ----- */
.explore-area-select-container {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.explore-area-select-container select {
  background-color: white;
  border: 2px solid #ff8340;
  border-radius: 3px;
  color: #ff8340;
  cursor: pointer;
  font-size: 1.1rem;
  outline: none;
  padding: 0.8rem 1.5rem;
}

/* ------- Favorite recipes page --------- */
.favorite-recipes-container {
  padding: 1.5rem 0;
}

.favorite-recipes-card-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 400px;
  padding: 1rem;
}

.favorite-recipe-share-name-container {
  display: flex;
  justify-content: flex-end;
}

.favorite-recipe-share-name-container input + input {
  margin-left: 0.5rem;
}

/* ---------- Not found ------- */
.notFound-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.notFound-container p {
  color: #272727;
  font-family: Montserrat , sans-serif;
  font-size: 2rem;

  /* font-weight: 600; */
  margin-top: 1rem;
}

.notFoundImg-container {
  max-width: 350px;
}

.notFoundImg-container img {
  border-radius: 0.5rem;
  width: 100%;
}
