@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@300;700&family=Source+Sans+3:wght@400;600&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(244, 245, 225, 0.659);
}

.pages-background {
  background-image: url(./images/pattern-1.jpeg);
  margin-top: 2.8rem;
  margin-bottom: 2.6rem;
  min-height: 90vh;
}

.pages-background-drink-food {
  background-image: url(./images/pattern-1.jpeg);
  margin-top: 2.8rem;
}

.header {
  background-color:#FF4141;
  color: #fff;
  top: 0;
  padding: 0rem 1.5rem;
  height: 2.8rem;
  position: fixed;
  width: 100%;
  z-index: 99;
  border-radius: 0 0 15px 15px;
  text-align: center;
  font-family: 'Arima Madurai', sans-serif;
  font-weight: 700;
  font-size: 1rem;
}

.header img, .header input {
  width: 22px;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 0rem 3rem;
  }
}


/* ----- Pagina de login --------*/

/* 
https://files.wallpaperpass.com/2019/10/food%20wallpaper%20011%20-%201920x1080.jpg
https://files.wallpaperpass.com/2019/10/food%20wallpaper%20131%20-%201920x1080.jpg
*/
.appReceitas {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('https://files.wallpaperpass.com/2019/10/food%20wallpaper%20131%20-%201920x1080.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

  padding: 1rem
}

.login-form {
  background-color: rgba(255,255,255,0.5);
  padding: 2rem 1.5rem;
  border-radius: 1rem;
  
}

.login-form h1, .login-form p {
  text-align: center;
  
}

.login-form h1 {
  font-size: 2.5rem;
  color:rgb(242, 91, 21);
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.65);
}

.login-form p {
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.login-form input {
  width: 100%;
  height: 2.9rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  padding: 1rem;
}

.login-form label {
  font-size: 1.4rem;
}

.login-form button {
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  border: none;
  color: #fff;
}

.login-form button:enabled {
  background-color: rgba(255, 28, 3, 0.522);
  cursor: pointer;
}

.login-form button:disabled{
  background-color: rgba(252, 75, 75, 0.522);
}

.login-form button:hover:enabled{
  background-color: rgba(46, 30, 146, 0.522);
}



/* ----- Header Search ------ */

/* Fixas o Header! */

.headerSearch {
  /* background-color:#FF4141; */
  /* color: #fff; */
  display: flex;
  /* top: 0; */
  justify-content: space-between;
  align-items: center;
  /* padding: 0rem 1.5rem; */
  /* height: 2.5rem; */
  /* position: fixed; */
  /* width: 100%; */
  /* z-index: 99; */
  /* border-radius: 0 0 15px 15px; */
  /* text-align: center; */
}

.searchForm {
  display: fixed;
  margin: 1rem;
  background-color: #0000;
  padding: 1rem 0;
}

.searchForm-container {
  background-color: #0000;
}

.search-input {
  height: 3rem;
  padding: 0.9rem 1rem;
  border-radius: 0.7rem;
  outline: none;
  width: 100%;
  border: 3px solid black;
}

.search-input:focus {
  border: 3px solid #FF4141 !important;
}

/* Position inputs properly*/

.search-types-container {
  margin: 1rem;
}

.search-type-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
}

.searchForm-container label {
  font-size: 1.2rem;
  margin-top: 0.2rem;
  cursor: pointer;
}

.searchForm-container input {
  cursor: pointer;
}

.searchForm-container button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #30abe4;
  color: #fff;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 3px;
}
input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #aaacaa;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #FF4141;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

.searchForm-container button:hover {
  background-color: #FF4141;
}

@media screen and (min-width: 500px) {
  .search-types-container {
    display: flex;
  }
  .searchForm-container button {
    width: 480px;
    margin: 0 auto;
  }

  .search-form-button-container {
    display: flex;
    justify-content: center;
  }

}

@media screen and (min-width: 768px) {

  .searchForm {
    margin: 0 3rem;
  }
}

/*----- Foods And Drinks cards section */

.foodsAndDrinks-container {
  margin: 0 0.5rem;
  padding: 2rem 0;
  min-height: 60vh;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 0.4rem;
  text-align: center;
  text-decoration: none;
  color: #000;
  border-radius: 3px;
  background-color:rgba(253, 253, 253, 0.624);
  border-radius: 1rem;
  width: 145px;
}

.card:hover {
  color: rgb(25, 32, 223);
}

.card h2 {
  height: 60px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.cardTitle-container {
  padding: 0.5rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-image-container {
  overflow: hidden;
  border-radius: 1rem;
}

.card img {
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  border-radius: 1rem
}

.card:hover img {
  -webkit-transform: scale(1.1);
   transform: scale(1.1);
}

.foodsAndDrinks-category-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  /* align-items: center; */
  padding: 0 0.5rem;
  /* grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); */
}

.foodsAndDrinks-category-container button {
  padding: 0.5rem 0.5rem;
  margin: 5px;
  border: none;
  background-color: #ff8340;
  color: #fff;
  font-size: 1.1rem;
  border-radius: 3px;
  cursor: pointer;
}

.foodsAndDrinks-category-container button:hover {
  background-color: #cc6934;
}

/* @media screen and (min-width: 330px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr
  }
}

@media screen and (min-width: 512px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr
  }
} */

@media screen and (min-width: 790px) {

  .foodsAndDrinks-container {
    margin: 0 3rem;
  }

  /* .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr
  } */

  .card {
    margin: 0.5rem;
    background-color:rgba(253, 253, 253, 0.624);
    border-radius: 1rem;
  }
}

/* @media screen and (min-width: 925px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr
  }
} */


/*---- Foooter ----- */

footer {
  width: 100%;
 position: fixed;
  padding: 0.3rem 1rem;
  height: 2.6rem;
  background-color: #FF4141;
  bottom: 0;
  z-index: 99;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.footer-container img {
  width: 30px;
}

@media screen and (min-width: 400px) {
  .footer-container {
    justify-content: space-around;
  }
}


/* --- Detalhes de comida de bebida ----- */

.headerheader {
  /* vertical-align: middle; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.food-details-container {
  /* margin-top: 3rem; */
  padding-top: 2rem;
  padding-bottom: 5rem;
}

.food-details {
 
  max-width: 400px;
  margin: 0 auto;
  background-color: rgba(253, 253, 253, 0.624);
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/* ::-webkit-scrollbar {
  width:  1rem; 
  border: 1px solid #d5d5d5;
} */

.recipe {
  
}

.recipe h1 {
  text-align: center;
  font-size: 2rem;
  margin: 1rem 0;
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 600;
}

.recipe-photo {
  width: 100%;
}

.foodButtons-n-foodType {
  display: flex;  
  justify-content: space-between;
  align-items: center;
}

.foodButtons-n-foodType p {
 font-size: 1.7rem;
 color: #FF4140;
}

.foodButtons {
  display: flex;
  align-items: center;
}

.foodButtons button {
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  background-color: #FF4141;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;

}

.foodButtons button + button {
  margin-left: 0.3rem;
}

.foodButtons button img {
  margin-left: 0.2rem;
}

.white-heart, .black-heart, .share-icon {
  width: 25px;
}

.ingredients {
  list-style-type: none;
  padding: 1rem 0;
  font-size: 1.2rem;
}

.instructions {
  padding: 1rem 0;
  font-size: 1.2rem;
}

.start-recipe-btn, .continue-recipe-btn {
  padding: 1rem 2rem;
  border: none;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  font-size: 1.2rem
}

.start-recipe-btn {
  background-color: rgba(43, 192, 43, 0.864);
}

.start-recipe-btn:hover {
  background-color: rgba(37, 160, 37, 0.864);

}

.continue-recipe-btn {
  background-color: #ff8340;
}

.continue-recipe-btn:hover {
  background-color: #ce6a34;
}

/* ----- Fodd progress page ---- */

.finish-recipe-btn {
  padding: 1rem 2rem;
  border: none;
  border-radius: 3px;
}

.finish-recipe-btn:enabled {
  background-color: #FF4141;
  color: #fff;
}

.ingredient-steps {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.ingredient-step input {
  margin-right: 0.4rem;
}

.ingredient-step label {
  cursor: pointer;
}

/* ----- Receitas feitas ----- */

.header-done {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profileIcon {
  width: 25px
}

.recipesDone-container {
  min-height: 100vh;
  padding: 2rem 0;
  display: flex;
  justify-content: center;

}

.recipeDone {
  max-width: 400px; 
  margin-top: 0rem;
  padding: 0 1rem;
}

.recipeDone-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(243, 243, 243);
  box-shadow: 7px 7px 6px 0px rgba(0,0,0,0.47);
  margin-bottom: 1rem;
  border-radius: 1rem
}

.recipe-info {
  padding-left: 2rem;
  padding-right: 1rem;
  width: 100%;
}

.recipeDone-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.recipeDone-buttons button {
  width: 80px;
  padding: 1rem 0.5rem;
  border: none;
  background-color: #30abe4;
  cursor: pointer;
  border-radius: 3px;
  color: #fff;
  font-size: 1.1rem;
}

.recipeDone-buttons button:hover {
  background-color: #dd9a34;
}

.recipeDone-buttons button + button {
  margin-left: 0.3rem;
}

.recipeDone-date-share-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.recipeDone-date-share-container button {
  border: none;
  cursor: pointer;
}

.recipeDone-date-share-container button:hover {
  transform: scale(1.1);
}

.recipeDone-tagButton {
  border: none;
  background-color: #FF4141;
  padding: 0.2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  color: #fff;
  margin: 0.2rem;
}

.recipeDone-tagButton:hover {
  transform: scale(1.1);
}

.recipeDoneCard-img {
  width: 130px;
  height: 130px;
  background-size: contain;
  background-repeat: no-repeat;
}


/* ---- Profile page ---- */

.profile-content {
  display: flex;
  flex-direction: column;
  align-items: center;  
  padding: 5rem 1rem;
}

.profile-content h3 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  width: 320px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.profile-content button {
  border: none;
  padding: 2rem 0;
  width: 100%;
  background-color: #f77f3f;
  color: #fff;
  font-size: 1.5rem;
  border-radius: 3px;
  cursor: pointer;
}

.profile-content button + button {
  margin-top: 0.5rem;
}

.profile-content button:hover {
  background-color: #ce6b36;
}

@media screen and (min-width: 400px){
  .profile-content h3 {
    width: auto;
    text-overflow: initial;
  }
}
/* ----- Explore foods drinks and food ----- */


.explore-food-cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem
}

.explore-food-card {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px; */
  text-align: center;
}

.explore-food-card-container{
  background-color: rgba(233, 232, 232, 0.645);
  margin: 0.4rem;
  border-radius: 3px;
  padding: 0.5rem
}

.explore-food-card-container a {
  text-decoration: none;
  color:  #000
}

/* ---- Explore area ----- */

.explore-area-select-container {
  display: flex;
  justify-content: center;
}

.explore-area-select-container select {
  padding: 0.8rem 1.5rem;
  border: 2px solid black;
  background-color: #fff;
  border-radius: 3px;
  font-size: 1.1rem
}
